// essa pagina estara constando o scss para a tarefa, status e opcoes. Estou encontrando muita dificuldade em deixar tudo alinhado de maneira pratica deste modo criei um arquivo a parte para tentar solucionar o problema
.desespero {
  display: flex;
  margin-right: 100px;
}

.complete {
  margin-left: 270px;
  max-height: 390px;
}

.statuus {
  height: 40px;
  padding-top: 10px;
  border-radius: 5px;
}
.checkbox {
  margin-left: 320px;
}
